<%= form_with model: link do |form| %>

  <div class="flex gap-1">
    <%= form.url_field :url,
                       required: true,
                       placeholder: "https://www.example.com",
                       class: "rounded-lg grow" %>
    <%= form.submit "SAVE", class: "grow-0 bg-gray-200 px-4 py-2 rounded-md"%>
  </div>

<% end %>